.userForm {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.userForm > * {
    margin-top: 10px;
}

.input {
    padding: 5px;
}

.label {
    font-size: 0.5em;
    text-transform: uppercase;
}
