.form {
    display: flex;
    flex-direction: column;
}

.form > * {
    margin-top: 10px;
}

.input {
    padding: 5px;
}

.label {
    font-size: 0.5em;
    text-transform: uppercase;
}

.product {
    display: flex;
    width: 100%;
}

.product > * {
    margin-right: 10px;
}

.productName {
    flex: 4;
}

.productName > * {
    margin-right: 5px;
}

.productQty {
    flex: 1;
}

.productQty > * {
    margin-right: 5px;
}

.inputStock {
    max-width: 30px;
}
