.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    max-width: 400px;
    min-width: 200px;
    cursor: pointer;
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;
}

.card > * {
    margin-top: 5px;
    font-size: 0.6em;
}
