.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightcoral;
    margin-bottom: 5px;
    max-width: 400px;
    min-width: 200px;
    cursor: pointer;
    height: 100px;
}

.selected {
    background-color: coral;
    color: white;
    font-weight: bolder;
}

.card > * {
    margin-top: 5px;
    font-size: 0.6em;
}
