.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: "space-around";
    height: 100%;
}

.appContainer > div {
    margin-left: 10px;
    margin-right: 10px;
}

.userContainer {
    display: flex;
    justify-content: "space-around";
}

.userContainer > div {
    margin-left: 10px;
    margin-right: 10px;
}

.usersList {
    width: 70%;
    height: 50vh;
    overflow-y: scroll;
}

.productContainer {
    display: flex;
    justify-content: "space-around";
}

.productContainer > div {
    margin-left: 10px;
    margin-right: 10px;
}
