.userCard {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightcoral;
    margin-bottom: 5px;
    max-width: 400px;
    min-width: 200px;
}

.userCard > * {
    margin-top: 5px;
    font-size: 0.6em;
}
